/* Loading screen css */
.wrapp {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
  background-color: #ff7070;
}

/* Sidebar css */
.menu-span {
  font-size:20px;
  color:#87c1bf;
  position:absolute;
  left:20px;
  top:20px;
}

.close-span {
  font-size:10px;
  left:4px;
  top:5px;
}

#sidebar {
  min-height:100vh;
  position: absolute;
  text-align: left;
  padding-left:30px;
  background-color:#6ffe90;
}

#sidebar .top-text {
  margin-top:70px;
}

#sidebar .white-text {
  font-family:biko_regular;
  color:white;
  font-size:35px;
  line-height: 35px;
}

#sidebar .purple-top {
  margin-top:40px;
}

#sidebar .purple-text {
  font-family:biko_regular;
  color:#a47af4;
  font-size:30px;
  line-height: 30px;
}

#sidebar .share-info {
  margin-top:80px;
  font-family: biko_regular;
  color: #a47af4;
  font-size:15px;
  line-height:15px;
}

#sidebar .icon-share {
  font-size:20px;
  color: #a47af4;
  margin-right:10px;
}

#sidebar.active {
  margin-left: -25%;
}

/* Loading screen */
.forecastWrap {
  background-color:#a970ff;
}

.center {
  height: 30%;
  position: absolute;
  top:20%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: biko_regular;
  color:#fff2f2;
  font-size:22px;
  text-align: center;
}

/* Search screen css */
.center-form {
  width:180px;
  height:250px;
  text-align:center;
}
.center-form .label {
  font-family: biko_regular;
  font-size:15px;
}
.input-cont {
  margin-top:15px;
  margin-bottom:20px;
}
.completer-holder {
  display:inline-block;
}
.completer-input {
  background:#a970ff;
  box-shadow: 3px 3px 25px -7px;
  border:none;
  display:inline-block;
  width: 176px;
  height: 30px;
  padding-right: 32px;
  padding-left:8px;
}
.completer-dropdown {
  width: 176px !important;
}
.search-btn {
  vertical-align:middle;
  background-color:white;
  display:inline-block;
  margin: 2px 2px 4px -34px;
  height: 26px;
  width: 26px;
}
.fa-search {
  display:inline-block;
  font-size: 15px;
  line-height: 26px;
  width: 26px;
  height: 26px;
  text-align: center;
  vertical-align: bottom;
  color: #a970ff;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #cdacff;
  font-family: biko_regular;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #cdacff;
  opacity:  1;
  font-family: biko_regular;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #cdacff;
  opacity:  1;
  font-family: biko_regular;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #cdacff;
  font-family: biko_regular;
}
.location-cont {
  margin-top:15px;
}
.location-btn {
  color:#a871fd;
  background:#70ff91;
  box-shadow: 3px 3px 25px -7px;
  border:1px solid #c6a57b;
  display:inline-block;
  width: 176px;
  height: 30px;
  line-height:30px;
  vertical-align: middle;
}
.icon-cont {
  position:absolute;
  vertical-align:middle;
  background-color:#70ff91;
  z-index:0;
  display:inline-block;
  margin: 2px 2px 4px -173px;
  height: 26px;
  width: 26px;
}
.fa-location-arrow {
  display:inline-block;
  font-size: 15px;
  line-height: 26px;
  width: 26px;
  height: 26px;
  text-align: center;
  vertical-align: bottom;
  color: #a871fd;
}

/* Forecast css */
.desc-cont{
  font-family:biko_regular;
  color: white;
  font-size:25px;
}

.weather-icon {
  width:100%;
}

.green-cont {
  color:#8bb9c6;
}

.max-temp-cont {
  color:#74f39a;
  font-family: biko_regular;
  font-size:25px;
}

.min-temp-cont {
  color: #8bb9c5;
  font-family:biko_regular;
  font-size:20px;
}


.today-cont {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:180px;
  height:55%;
  text-align:center;
}

.today-weather-icon {
  text-align:center;
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
}

.today-weather-icon i {
  color:white;
  font-size:50px;
}

.days-cont {
  margin-top:80px;
  height:43%;
  bottom:25px;
}

.day {
  width:19%;
  text-align:center;
  display:inline-block;
}

.day-desc {
  font-family:biko_regular;
  color: white;
  font-size:15px;
}

.day-weather-icon {
  text-align:center;
  width:100%;
  margin-top:20px;
  margin-bottom:20px;
}

.day-weather-icon i {
  width:100%;
  height:50px;
  color:white;
  font-size:38px;
}

.day-max {
  color:#74f39a;
  font-family: biko_regular;
  font-size:20px;
}

.day-min {
  color: #8bb9c5;
  font-family:biko_regular;
  font-size:15px;
}
