/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'biko_regular'; /*a name to be used later*/
  src: url('app/fonts/Biko_Regular.otf'); /*URL to font*/
}

@font-face {
  font-family: 'biko_black'; /*a name to be used later*/
  src: url('app/fonts/Biko_Black.otf'); /*URL to font*/
}

@font-face {
  font-family: 'biko_bold'; /*a name to be used later*/
  src: url('app/fonts/Biko_Bold.otf'); /*URL to font*/
}

@font-face {
  font-family: 'biko_light'; /*a name to be used later*/
  src: url('app/fonts/Biko_Light-Restricted.otf'); /*URL to font*/
}
